<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Note List</title>
</head>
<body>

<h1>Edit Node</h1>
<form th:action="@{/note/edit}" method="POST">
    <table>
        <tbody>
        <tr>
            <td><th>ID</th></td>
            <td><input type="text" id="id" name="id" /></td>
        </tr>
        <tr>
            <td><th>Title</th></td>
            <td><input type="text" name="title" id="title" /></td>
        </tr>
        <tr>
            <td><th>Content</th></td>
            <td><input type="text" name="content" id="content" /></td>
        </tr>
        <tr>
            <td></td><td></td>
            <td>

                <button><a th:href="@{/note/list}">Edit</a> </button>
                
            </td>
        </tr>
        </tbody>
    </table>
</form>
    </tbody></table>
</body></html>